@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Nunito Sans", sans-serif;
}

.cell {
  display: inline-block;
  width: 49%;
  text-align: center;
}

.circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}